SECRET_KEY =
DEBUG = 1
DATABASE_URL =
REDIS_URL =
RETELL_WEBHOOK_SECRET =
DJANGO_SECRET_KEY=
RETELL_API_KEY=
RETELL_WEBHOOK_URL=

# STRIPE PRODUCTION KEYS
# Obtain these from your Stripe Dashboard (Developers -> API Keys & Webhooks)
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# PRODUCT / PRICING IDS
STRIPE_PRICE_ID=
STRIPE_COMMUNICATION_PRICE_ID=
